    @font-face {
        font-family: Grotesk;
        src: url(Px-Grotesk-Bold.woff);
    }

    @font-face {
        font-family: Bliss;
        src: url("BlissPro - Bliss Pro - Regular.woff");
    }

    * {
        box-sizing: border-box;
        font-family: Bliss2, Helvetica, Arial, sans-serif;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr;
        max-width: 90rem;
    }

    .navigation {
        height: 100%;
        width: 200px;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ccc;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .navigation a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #000;
        display: block;
    }

    .navigation a:hover {
        text-decoration: underline;
    }

    h1 {
        color: rgb(31, 32, 34);
        display: inline;
        background-image: linear-gradient(120deg, rgb(245, 180, 0) 0%, rgb(245, 180, 0) 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: 0px 85%;
        font-family: "Px Grotesk Bold", Helvetica, Arial, sans-serif;
        font-size: 5rem;
        margin-bottom: 6.25rem;
        margin: 0.67em 0px;
        line-height: 5rem;
        margin-top: 0px;
        word-break: break-word;
    }

    body {
        font-family: Bliss;
    }

    .grid {
        grid-gap: 1.25rem;
    }

    .cfqyfR {
        min-width: 80rem;
        width: 100%;
        padding: 2.5rem 14.25rem 0px;
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .bdXuoL {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: end;
        justify-content: flex-end;
    }

    .jwNkjt,
    .jZezFC {
        display: block;
        margin-bottom: 1rem;
        text-decoration: none;
    }

    .hZTyCR {
        margin-bottom: 1rem;
        line-height: 1.5rem;
        font-size: 1rem;
        font-family: "Bliss2 Bold", Helvetica, Arial, sans-serif;
    }

    .lgaemT {
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .kELfYg {
        min-width: 80rem;
        padding: 0px 14.25rem;
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: flex-end;
        background-color: rgb(229, 229, 229);
    }

    .ihGqol {
        width: 17.5rem;
        display: flex;
        flex-direction: column;
    }

    .fabWWL {
        padding-left: 2rem;
        line-height: 2.5rem;
        color: rgb(31, 32, 34);
        text-decoration: none;
    }

    .footerLogo {
        height: auto;
        max-width: 120px;
        margin: 0px 14.25rem;
    }

    .itemHeader:hover,
    .itemTitle:hover {
        border-bottom: 3px solid rgb(0, 130, 200);
    }

.groupStart {}

.groupEnd {}
