    @font-face {
        font-family: Grotesk;
        src: url(Px-Grotesk-Bold.woff);
    }

    @font-face {
        font-family: Bliss;
        src: url("BlissPro - Bliss Pro - Regular.woff");
    }

    * {
        box-sizing: border-box;
        font-family: Bliss2, Helvetica, Arial, sans-serif;
    }

    h1 {
        color: rgb(31, 32, 34);
        display: inline;
        background-image: linear-gradient(120deg, rgb(245, 180, 0) 0%, rgb(245, 180, 0) 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: 0px 85%;
        font-family: "Px Grotesk Bold", Helvetica, Arial, sans-serif;
        font-size: 5rem;
        margin-bottom: 6.25rem;
        margin: 0.67em 0px;
        line-height: 5rem;
        margin-top: 0px;
        word-break: break-word;
    }

    body {
        font-family: Bliss;
    }

    .grid {
        grid-gap: 1.25rem;
    }

    .cfqyfR {
        min-width: 80 rem;
        padding: 2.5 rem 14.25 rem 0 px;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .bdXuoL {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: end;
        justify-content: flex-end;
    }

    .jwNkjt {
        display: block;
        margin-bottom: 1 rem;
        text-decoration: none;
    }

    .hZTyCR {
        margin-bottom: 1 rem;
        line-height: 1.5rem;
        font-size: 1rem;
        font-family: "Bliss2 Bold", Helvetica, Arial, sans-serif;
    }
